/* CSS variables for consistent themes */
:root{
    --bg-purple: #3100b9;
    --nav-bg: #1f0075;
    --text-white: #ffffff;
    --accent-orange: #ff751f;
    --input-bg: #ffffff;
    --font-family: Arial, Helvetica, sans-serif;
}

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body{
    background-color: var(--bg-purple);
    min-height: 100vh; /* full screen height */
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* prevent horizontal scroll */
}

/* Header Navigation Style */
header {
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    width: 100%;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-white);
    font-weight: bold;
    font-size: 1.2rem;
}

/* change if may logo img na */
.logo-icon { 
    font-size: 1.5rem;
    letter-spacing: -2px;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    color: var(--text-white);
    text-decoration: none;
    font-size: 1.1rem;
}

nav a:hover {
   color:#5c3fac;
}

/* Dark Mode Toggle Switch - remove if meron na  */
.toggle-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.toggle-container span {
    color: var(--text-white);
    font-size: 0.9rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--bg-purple);
}

input:checked + .slider:before {
    transform: translateX(24px);
}

/* Main Layout */
main {
    padding: 20px 20px;
    min-height: calc(100vh - 140px);
}

/* Page Header */
.page-header {
    background-color: #ffffff;
    padding: 24px 28px;
    margin-bottom: 20px;
}

.page-header h1 {
    font-size: 2 rem;
    color: var(--accent-orange);
    font-weight: bold;
}

/* Status Cards */
.stats-row {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.stat-box1, .stat-box2 {
    background-color: #ffff;
    border: 3px solid #000000;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    text-align: center;
}

.stat-box1 h2 {
    color: #00bf3c;
    font-size: 3rem;
    margin-bottom: 5px;
}

.stat-box2 h2 {
    color: var(--accent-orange);
    font-size: 3rem;
    margin-bottom: 5px;
}

.stat-box1 p, .stat-box2 p{
    font-size: 1rem;
}

/* Charts Card */
.charts-row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}

.chart-box1, .chart-box2 {
    background-color: #ffff;
    border: 3px solid #000000;
    padding: 20px;
    border-radius: 20px;
    width: 700px;
    text-align: center;
}

.chart-box1 h2, .chart-box2 h2 {
    color: var(--accent-orange);
    font-size: 1.5rem;
    margin-bottom: 20px;
}