body{
    font-family: Helvetica, sans-serif;
}

.site-footer {
    background-color: #3b0997;
    color: #ffffff;
    text-align: center;
    padding: 30px 20px;
    margin-top: auto;
}

.navbar-foodsafe-custom{
    background-color: #39149b;
    color: white;
}

.form-container{
    background-color: white;
    width: 90%;
    border-radius: 20px;
    padding: 7px 15px;
    margin: auto;
}

.table-custom{
    width: 90%;
    margin: 0px auto;
    border: 1px solid black;
}

.theme-dark-custom,
.theme-dark-custom .site-footer {
    background-color: #12103a;
}

.button-option{
    text-decoration: none;
    color: orange;
    background-color: white;
    border-radius: 20px;
    padding: 7px 15px;
    border: 3px solid black;
    font-weight: bold;
    margin: 5px 5px;
}

.search-add-entry{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.search-box{
    padding: 7px 5px;
    border-radius: 20px;
    border: 3px solid black;
    width: 70%
}

h1{
    color: #ff751f;
    text-align: center;
    font-size: 3rem;
}